body {
  text-align: center;
}

.content {
  width: 1000px;
  height: 650px;
  margin: 50px auto;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0 0 25px black;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 12px auto;
  padding: 12px;
  border: 1px dashed green;
}

.active {
  transform: translate(150px);
}
